{% extends 'layout.html' %}

{% block content %}

    <div class="row">
        <!-- Left block for image -->
        <div class="col-md-6 d-flex align-items-center">

            <div class="d-flex align-items-center mt-2">
                <p class="text-white mb-0 mr-3">Last recognised image</p>
                <img src="{{ last_read_image }}" alt="Last read image" class="img-fluid">
                {# If you have another image or element you want next to the paragraph, place it here #}
            </div>
        </div>

        <!-- Right block for header and text -->
        <div class="col-md-6">
            <h1 class="text-white">GasMeter - consumption overview</h1>

        </div>
    </div>

    {{ plotly | safe }}


{% endblock content %}